<div>
  <%= link_to imports_index_path, class: "relative inline-flex items-center px-6 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0 text-pink-600 hover:text-pink-900" do %>
    Back
  <% end %>
</div>
