<nav class="border-b border-gray-200 bg-white">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 justify-between">
      <div class="flex">
        <%= link_to imports_index_path, class: "flex flex-shrink-0 items-center" do %>
          <img class="block h-8 w-auto lg:hidden" src="https://tailwindui.com/plus/img/logos/mark.svg?color=pink&shade=600" alt="Spacely">
          <img class="hidden h-8 w-auto lg:block" src="https://tailwindui.com/plus/img/logos/mark.svg?color=pink&shade=600" alt="Spacely">
        <% end %>

        <div class="hidden sm:-my-px sm:ml-6 sm:flex sm:space-x-8">
          <!-- Current: "border-pink-500 text-gray-900", Default: "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700" -->
          <%= link_to "Imports", imports_index_path, class: "inline-flex items-center border-b-2 px-1 pt-1 text-sm font-medium #{current_page?(imports_index_path) ? "border-pink-500 text-gray-900" : "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700"}" %>
          <%= link_to "Properties", properties_index_path, class: "inline-flex items-center border-b-2 px-1 pt-1 text-sm font-medium #{current_page?(properties_index_path) ? "border-pink-500 text-gray-900" : "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700"}" %>
        </div>
      </div>
    </div>
  </div>
</nav>
